# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists in use.
- Some of the commonly used libraries used by Data Scientists.
-  a few examples of evaluating arithmetic expressions in Python.
- a simple arithmetic expression to mutiply then add integers.
- Converting Minutes to Hours Using Python.

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| Apache Hadoop            |
| Git/GitHub               |

### Below are a few examples of evaluating arithmetic expressions in Python.
Examples:
- 5 + 3 (Addition)
- 10 - 2 (Subtraction)
- 4 * 7 (Multiplication)
- 20 / 4 (Division)

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#his will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print (hours)

3.3333333333333335

## Author

Sadek Fouad